.carousel-frame {
    height: 425px;
    background-color: #f1f1f1;

    .carousel-frame-title {
        text-align: center;
        padding-top: 20px;

        h2 {
            height: 45px;
            font-family: Raleway;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: 140.625%;
            text-transform: uppercase;
            span {
                color: #8ac92a;
            }
        }
    }
}

.slick-dots li.slick-active button:before {
    color: #8ac92a !important;
    font-size: 20px !important;
}
