.contact-header {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.7),
            rgba(31, 30, 30, 0.8)
        ),
        url(../../assets/background-img.jpg);
    background-repeat: no-repeat;

    h1 {
        color: #ffffff;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
    }
}
