.blog-post-title {
    h2 {
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 140.625%;
        text-transform: uppercase;

        span {
            color: #8ac92a;
        }
    }
    p {
        color: #808080;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140.625%;
    }
}
.blog-post-content {
    width: auto;
    height: 401px;
    display: flex;

    .blog-post-img {
        width: 753px;
        margin-left: -23px;
        img {
            width: 753px;
            height: 401px;
            @media (max-width: 1024px) {
                margin-right: -24px;
                height: 401px;
                width: 570px;
            }
        }
    }
    .blog-post-txt {
        background-color: #8ac92a;
        color: #ffffff;
        height: 401px;
        padding: 40px;

        h3 {
            font-family: Raleway;
            font-size: 19px;
            font-style: normal;
            font-weight: 900;
            line-height: 140.625%;
            text-transform: uppercase;
        }
        p {
            font-family: Raleway;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140.625%;
        }

        .blog-post-txt-1 {
            margin-top: 30px;
        }

        button {
            margin-top: 30px;
            border: 1px solid #ffffff;
        }
    }
}

.big-blog-post-card {
    width: 1100px;
    height: 294px;
    margin: 0;

    .card-1,
    .card-2 {
        width: 664px;
        height: 294px;

        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-img img {
        width: 275px;
        height: 250px;
    }

    .card-title {
        width: 292px;
        height: 264px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    h4 {
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.625%;
        text-transform: uppercase;
    }
    .card-p {
        color: #65a603;
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140.625%;
    }

    p {
        color: #808080;
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 140.625%;
    }
}
