.footer-logo {
    width: 143px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.footer-logo-title {
    p {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140.625%;
        margin: 10px 0;
        padding: 0;
    }
}

.footer-item {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    a {
        width: 130px;
        text-decoration: none;
        color: #ffffff;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140.625%;
        margin: 10px 0;
        &:hover {
            color: #8ac92a;
        }
    }
}

.second-footer-component {
    h3 {
        text-decoration: none;
        font-family: Raleway;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.625%;
        margin: 0;
        margin-bottom: 30px;
    }
    .second-footer-component-item {
        display: flex;
        flex-direction: column;
        width: 250px;

        a {
            width: 85px;
            text-decoration: none;
            color: #ffffff;
            margin: 10px 0;
            &:hover {
                color: #8ac92a;
            }
        }
    }
}
