.comments-title {
    background-color: #f1f0f0;
    h2 {
        height: 45px;
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 140.625%;
        text-transform: uppercase;
        span {
            color: #8ac92a;
        }
    }
}

.slide-comments-img img {
    width: 70px;
    height: 70px;
}

.slide-comments-title {
    color: #808080;
    font-family: Raleway;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 140.625%;
}
.border-slide {
    width: 80px;
    border: 2px solid #8ac92a;
}
.slide-comments-name {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%;
}

.coments-slider {
    .slick-dots li button {
        display: none;
    }
    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
        background-color: #8ac92a;
        border-radius: 5px;
        z-index: 1;
    }
    // .slick-prev {
    //     top: 95%;
    //     left: 47%;
    // }
    // .slick-next {
    //     top: 95%;
    //     right: 47%;
    // }
}
